<html>
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
</html>
    
    <body>
        <div class="background"></div>
            <div class="img">
                {{ Welcometext|safe}}
                {{ image|safe }}
            </div>
            <div class="form">
                <form method="POST">
                    <input name="variable" placeholder="Enter text">
                    <button type="submit" id="send"> Send </button>
                </form>
            </div>
            <div class="background-2">
                {{ TextTitle|safe }}
                <p id="wiki"> {{ wiki|safe }} </p>
            </div>
        </body>
    
</form>
