@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@media only screen and (max-width: 600px) {
    .img img{
      background-color: lightblue;
    }
}

*{
    font-family: 'Arimo';
}

html{
    background-image: url('/static/img/background.webp');
    width: 100%;
}
.img{
    float: left;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.img, .img img{
    height:65vh; 
    width:100vh;
}
.form{
    width: 99%;
    padding-top: 60vh;
}
.form p{
    font-size: 20px;
}
#outp{
    position: absolute;
    right: 50%;
}
.form,.img{
    position: absolute;
    top: 15vh;
}
form{
    width: 45%;
    display:flex;
    float: right;
    height: 4rem;
    margin-bottom: 5px;
}
.form input{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #b9b8b8;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all .5s ease;
}
.form input:focus::placeholder{
    color:transparent
}
.form input::placeholder{
    color: #222;
    transition: color 0.3s ease;    
}
.form input:focus{
    width: 75%;
    border: none; 
}
.form input:focus + #send{
    margin-left: 10px;
    margin-top: 0;
    width: 15%;
    height: 100%;
}
.form button{
    margin-left: -50px;
    margin-top: 15px;
    float: right;
    width: 10%;
    height: 50%;
    -webkit-appearance: none;
    appearance: none;
    background: #5a5a5a;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    
}
.background-2{      
    position: absolute;
    background-color: rgba(0,0,0, 0.4);
    top: 15vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 35%;
    height: 25rem;
    float: right;
    right: 7%;
    border-radius: 1rem;
    overflow: hidden;
    padding: 25px;
}
.background-2 p{
    margin: 0;
    color: rgb(150, 255, 101);
    font-size: 25px;
}
.background-2 h1{
    justify-content: center;
    align-items: center;
    
}
.img p{
    margin: 0;
    padding: 5px;
    border: none;
    color: rgb(150, 255, 101);
}
iframe{
    border: 0;
    width: 66%;
    height: 41%;
    margin: 0;
    padding: 0;
}