html{
    background-image: url('/static/img/background.webp');
    width: 100%;
}
.img{
    float: left;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    
}
.form{
    width: 99%;
    padding-top: 60vh;
}
p{
    position: absolute;
    right: 50%;
}
.form,.img{
    position: absolute;
    top: 15vh;
}
form{
    width: 45%;
    display:flex;
    float: right;
    height: 4rem;
    margin-bottom: 5px;
}
.form input{
    width: 75%;
    -webkit-appearance: none;
    appearance: none;
    background: #b9b8b8;
    padding: 12px;
    border: none;
    width: 75%;
    outline: none;
    transition: all .5s ease;
}
.form input:focus::placeholder{
    color:transparent
}
.form input::placeholder{
    color: #222;
    transition: color 0.3s ease;    
}
.form input:focus{
    border: none;
    border-bottom: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 10px;
}
.form button{
    margin-left: 25px;
    float: right;
    width: 20%;
}
